doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      a#heading(href="/") Libra
      nav
        a(href="/movies") Movies
        a(href="/genres") Genres
    block content
    div#footergap
    footer
      p.part Copyright 
      p.part Made without any help from Aditya Passi.
