body {
  font: 15px monospace, Arial, sans-serif;
  background: url("../images/campfire.jpg") fixed;
  background-size: 100% 100%;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

a {
  color: rgb(0, 195, 255);
  margin-right: 1em;
}

h1{
  margin-top: 3em;
}

header {
  background-color:black;
  position: fixed;
  top: 0;
  width: 100%;
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color:black;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 4em;
  align-items: center;
}

#footergap{
  height: 5em;
}

#heading, nav, .part{
  margin: 0 1.5em 0 1.5em;
}

li{
  text-align: left;
}

img{
  width: 100%;
  height: 326px;
}

#grid {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  gap: 4% 5%;
  margin-top: 2em;
  margin-bottom: 2em;
  list-style: none;
}

#movie-title{
  text-align: center;
}

#det{
  display:flex;
  justify-content: space-around;
  margin-top: 3em;
  margin-bottom: 3em;
}

#dposter{
  width:17.5%;
  height: 350px;
}

#dcard{
  width:60%;
  text-align: left;
}

input{
  width:100%;
  margin-bottom: 1.5em;
  margin-top: 0.5em;
}

form{
  width:40%;
  margin:auto;
  text-align: left;
}

textarea{
  width:100%;
  margin-bottom: 1.5em;
  margin-top: 0.5em;
}

.checkbox-input{
  width:5%;
  margin:1em 0 1em 0;
}

button{
  width:20%;
  margin:auto;
  display: block;
}

#count{
  list-style: none;
  margin: 5em 0 5em 0;
}

.count{
  text-align: center;
  margin-bottom: 1em;
}

#indesc{
  margin-bottom: 4em;
}